---
import Layout from '@/layouts/BaseLayout.astro';
import PatternList from '@/components/patterns/PatternList.vue';
---

<Layout title="设计模式 - 秋云设计模式">
  <main class="min-h-screen pt-24">
    <PatternList client:load />
  </main>
</Layout>
