---
import Layout from '@/layouts/BaseLayout.astro';
import HeroSection from '@/components/home/HeroSection.vue';
import StatsSection from '@/components/home/StatsSection.vue';
import CategorySection from '@/components/home/CategorySection.vue';
import PopularSection from '@/components/home/PopularSection.vue';
import RecommendationSection from '@/components/home/RecommendationSection.vue';
import PathSection from '@/components/home/PathSection.vue';
import FeaturesSection from '@/components/home/FeaturesSection.vue';
---

<Layout title="秋云设计模式 - 23种经典设计模式学习">
  <main class="min-h-screen">
    <HeroSection client:load />
    <StatsSection client:visible />
    <CategorySection />
    <PopularSection />
    <RecommendationSection client:visible />
    <PathSection client:visible />
    <FeaturesSection />
  </main>
</Layout>
